.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 28px;
    border: 1px solid #D9D9D9;
    border-radius: 200px;
    background-color: white;
    font-size: 14px;
    margin-right: 10px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}