<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>회원 목록</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/main.css">
  </head>
  <body>
  <div align=center>
  <H2>관리자 페이지</H2>
  <HR>
  <script language="JavaScript">
  </script>
  <table width="650" border="1" align="center" cellspacing="0" cellpadding="5">
  <tr><td>회원가입날짜</td> <td>회원 이메일</td> <td>회원 닉네임</td> <td>강퇴 버튼</td>
  {% for user in data %}
  {% if user.email == managername %}
  {% else %}
  <tr><td>{{user.createdAt}}</td> <td>{{user.email}}</td> <td>{{user.nick}}</td>
  <td>
  <form method="post" action= "/manager/delete">
    <input type="text" name="email_name" value="{{user.email}}" class="delete" style="display : none;">
    <input type="submit" name="manager_view" value="버튼" class="delete"  id ='Submit4' onclick="this.style.backgroundColor='grey';
     alert('강퇴했습니다.'); ">
  </form>
</td>
{% endif %}
  {% endfor %}
</table> 
<div align=center>
  <form method="get" action= "/manager">
    <input type="submit" name="manager_view" value="기본 페이지로 돌아가기" class="delete"  id ='Submit4' onclick="this.style.backgroundColor='grey';">
</form>
</div>
<script>
</script>
</body>
</html>